@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('../fonts/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 500px;
}

.container {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-size: cover;
    background: url("../images/background.jpg") no-repeat center;
}

.logo {
    height: 42px;
    padding: 5px;
}

.box {
    width: 400px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #3c8dbc;
}

.box-header {
    color: #444;
    display: block;
    position: relative;
}

.box-body {
    border-radius: 0 0 3px 3px;
    padding: 10px;
}

.pull-right {
    float: right !important;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.text-center {
    text-align: center;
}

.button-primary {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.button-primary:hover, .button-primary:active {
    background-color: #367fa9;
    border-color: #204d74;
}

.button {
    width: 100%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.drop-button {
    background: transparent;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, .15);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #999;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-button {
    color: #999;
}